{% extends "base.html" %}
{% import 'contents_macros.html' as layout with context -%}

{% block additionalscripts %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        var data = null;

        var testrows1=[
            [1,  37.8, 80.8, 41.8],
            [2,  30.9, 69.5, 32.4],
            [3,  25.4,   57, 25.7],
            [4,  11.7, 18.8, 10.5],
            [5,  11.9, 17.6, 10.4],
            [6,   8.8, 13.6,  7.7],
            [7,   7.6, 12.3,  9.6],
            [8,  12.3, 29.2, 10.6],
            [9,  16.9, 42.9, 14.8],
            [10, 12.8, 30.9, 11.6],
            [11,  5.3,  7.9,  4.7],
            [12,  6.6,  8.4,  5.2],
            [13,  4.8,  6.3,  3.6],
            [14,  4.2,  6.2,  3.4]
            ]

        var options = {
                        chart: {
                            title: 'system usage in the last hour',
                            subtitle: '(unts)'
                        },
            width: 700,
            height: 400
        };

        var EL;
        var chart2, lineChart;

        google.charts.load('current', {'packages':['line']});




        google.charts.setOnLoadCallback(
            stuff
            );
        function stuff() {

            data = new google.visualization.DataTable();
            data.addColumn('number','time');
            data.addColumn('number','network traffic');
            data.addColumn('number','cluster use');
            data.addColumn('number','potato');
            data.addRows(testrows1);

            EL = document.getElementById('linechart_material2')

                  chart2 = new google.charts.Line(EL);
            drawChart3(data,EL);
        }
        function drawChart3(data,EL) {
                  lineChart = chart2;
                  chart2.draw(data, google.charts.Line.convertOptions(options));
        }

        function updatedata(data_in) {
            if(data==null | data_in==null){
                return;
            }
            data = new google.visualization.DataTable();
            data.addColumn('number','time');
            data.addColumn('number','network traffic');
            data.addColumn('number','cluster use');
            data.addColumn('number','potato');
            data.addRows(data_in);
            drawChart3(data,EL);
        }











        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/systemusage';

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                $('#log').text('Received #' + msg.count + ': ' + msg.data).html();
                updatedata(msg.graph_data);

            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 100);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });
{#            $('form#broadcast').submit(function(event) {#}
{#                socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});#}
{#                return false;#}
{#            });#}
{#            $('form#join').submit(function(event) {#}
{#                socket.emit('join', {room: $('#join_room').val()});#}
{#                return false;#}
{#            });#}
{#            $('form#leave').submit(function(event) {#}
{#                socket.emit('leave', {room: $('#leave_room').val()});#}
{#                return false;#}
{#            });#}
{#            $('form#send_room').submit(function(event) {#}
{#                socket.emit('my_room_event', {room: $('#room_name').val(), data: $('#room_data').val()});#}
{#                return false;#}
{#            });#}
{#            $('form#close').submit(function(event) {#}
{#                socket.emit('close_room', {room: $('#close_room').val()});#}
{#                return false;#}
{#            });#}
{#            $('form#disconnect').submit(function(event) {#}
{#                socket.emit('disconnect_request');#}
{#                return false;#}
{#            });#}
        });
    </script>



{% endblock %}
{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to SoGE IT Support</h1>
{#        <p><a class="btn btn-primary btn-lg" href="https://github.com/gabrielssilva/flasktasks">Source code</a></p>#}
    </div>
</div>


{% if debug %}
    <h1>Flask-SocketIO Test</h1>
    Send:
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    <p>Async mode is: <b>{{ async_mode }}, Average latency: <b><span id="ping-pong"></span>ms</b></p>
    </form>
{#    <form id="broadcast" method="POST" action='#'>#}
{#        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">#}
{#        <input type="submit" value="Broadcast">#}
{#    </form>#}
{#    <form id="join" method="POST" action='#'>#}
{#        <input type="text" name="join_room" id="join_room" placeholder="Room Name">#}
{#        <input type="submit" value="Join Room">#}
{#    </form>#}
{#    <form id="leave" method="POST" action='#'>#}
{#        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">#}
{#        <input type="submit" value="Leave Room">#}
{#    </form>#}
{#    <form id="send_room" method="POST" action='#'>#}
{#        <input type="text" name="room_name" id="room_name" placeholder="Room Name">#}
{#        <input type="text" name="room_data" id="room_data" placeholder="Message">#}
{#        <input type="submit" value="Send to Room">#}
{#    </form>#}
{#    <form id="close" method="POST" action="#">#}
{#        <input type="text" name="close_room" id="close_room" placeholder="Room Name">#}
{#        <input type="submit" value="Close Room">#}
{#    </form>#}
{#    <form id="disconnect" method="POST" action="#">#}
{#        <input type="submit" value="Disconnect">#}
{#    </form>#}
    <div id="log"></div>

{% endif %}




    <div class="container" >


  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style=" width: 100%; height: 100%;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
{#      <li data-target="#carousel-example-generic" data-slide-to="3"></li>#}
{#      <li data-target="#carousel-example-generic" data-slide-to="4"></li>#}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
{#        <img src="https://unsplash.it/1400/600?image=114">#}
{#      </div>#}
{#      <div class="item">#}
          <div  width="100%" height="500px" >
              {{ layout.usage() }}
          </div>
      </div>
      <div class="item">
          <div  width="100%" height="500px" >
              {{ layout.servicestatus(services) }}
          </div>
      </div>
      <div class="item">
        <div width="100%" height="500px" ">
            {{ layout.whatson(nowevents, futureevents) }}
        </div>
      </div>
    </div>

    <!-- Controls -->
{#    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">#}
{#      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
{#      <span class="sr-only">Previous</span>#}
{#    </a>#}
{#    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">#}
{#      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
{#      <span class="sr-only">Next</span>#}
{#    </a>#}
  </div>
</div>
{% endblock %}
